@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  border-bottom: 3px solid white;
}

/* للتصفحات الحديثة */
::-webkit-scrollbar {
  width: 10px;
}

/* المسار الذي يتحرك عليه المؤشر */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* المؤشر نفسه */
::-webkit-scrollbar-thumb {
  background: teal;
}
